.not-found {
    margin-bottom: 3.5rem;
    margin-top: 3.5rem;

    > .container {
        background-color: $white;
        padding-bottom: 3.5rem;
        padding-top: 3.5rem;
    }

    &__icon {
        color: $danger;
        font-size: 11rem;
        text-align: center;
    }

    &__content {
        padding-left: 2rem;
    }

    &__title {
        font-size: 4rem;
        margin-bottom: 1.5rem;
    }

    &__help {
        font-size: 1.5rem;
    }
}
